body {
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

header {
  height: 227px;
  display: flex;
  flex-direction: column; }
  header li {
    display: inline-block; }
  header a {
    color: black;
    text-decoration: none; }
  header a:hover {
    text-decoration: underline; }
  header .header--top {
    height: 38px;
    display: flex;
    justify-content: flex-end; }
    header .header--top li {
      padding-left: 28px; }
  header .header--middle {
    height: 90px;
    display: flex;
    justify-content: space-between; }
    header .header--middle li {
      height: 90px;
      width: 115px;
      background: #0099cc;
      text-align: center;
      line-height: 80px; }
    header .header--middle a {
      color: white; }
    header .header--middle li:nth-child(even) {
      background: #ff6666; }
    header .header--middle li:nth-child(3) {
      padding-left: 15px;
      text-align: left;
      background: #0099cc url(../img/special.png) 82% 42% no-repeat; }
    header .header--middle li:last-child {
      width: 140px;
      text-align: center;
      background: #ff6666 url(../img/cart.png) 82% 42% no-repeat; }
    header .header--middle li:hover {
      box-shadow: inset 0px 0px 10px 10px snow; }
  header nav {
    margin-top: 30px;
    height: 71px;
    background: #0099cc;
    display: flex;
    justify-content: space-around; }
    header nav li {
      padding-left: 48px; }
    header nav a {
      color: white; }
    header nav li:nth-child(2) {
      text-align: center;
      width: 165px;
      height: 71px; }
    header nav a:hover {
      color: red; }

.content {
  display: flex;
  margin-top: 15px;
  width: 100%; }
  .content .content--left {
    width: 57%;
    displat: flex;
    flex-direction: column;
    margin-right: 15px; }
    .content .content--left div:hover {
      box-shadow: inset 0px 0px 3px 3px snow;
      cursor: pointer; }
    .content .content--left .content--left__mens {
      background: url(../img/menwear.png) no-repeat;
      height: 570px;
      width: 100%; }
    .content .content--left form {
      margin-top: 15px;
      display: block;
      height: 170px;
      background: #ff6666 url(../img/search.png) 98% no-repeat;
      display: flex;
      justify-content: center;
      align-items: center; }
      .content .content--left form input {
        outline: none;
        border: none;
        width: 485px;
        height: 70px; }
    .content .content--left .content--left__crafts {
      margin-top: 15px;
      height: 335px;
      background: url(../img/crafts.png) no-repeat;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .content .content--left .content--left__crafts a {
        display: block;
        height: 55px;
        width: 53px;
        background: #0099cc url(../img/special.png) no-repeat 55%; }
      .content .content--left .content--left__crafts a:last-child {
        background: #ff6666 url(../img/cart.png) no-repeat 55%; }
      .content .content--left .content--left__crafts .crafts--hrefs {
        display: flex;
        margin-right: 105px; }
      .content .content--left .content--left__crafts a:hover {
        box-shadow: inset 0px 0px 3px 3px snow; }
  .content .content--right {
    width: 43%;
    display: flex;
    flex-direction: column; }
    .content .content--right div:hover {
      box-shadow: inset 0px 0px 3px 3px snow;
      cursor: pointer; }
    .content .content--right .content--right__woomen {
      background: url(../img/womenwear.png) no-repeat;
      height: 320px; }
    .content .content--right .content--right__baby {
      margin-top: 15px;
      background: url(../img/babyshop.png) no-repeat;
      height: 245px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .content .content--right .content--right__baby a:hover {
        box-shadow: inset 0px 0px 3px 3px snow; }
      .content .content--right .content--right__baby p {
        display: block;
        height: 55px;
        width: 292px;
        display: flex;
        margin-right: 84px; }
      .content .content--right .content--right__baby b {
        display: block;
        color: white;
        text-align: center;
        line-height: 50px;
        width: 103px;
        height: 55px;
        background: #0099cc; }
      .content .content--right .content--right__baby a {
        display: block;
        height: 55px;
        width: 55px;
        background: #0099cc url(../img/special.png) no-repeat 55%; }
      .content .content--right .content--right__baby a:nth-child(3) {
        background: #ff6666 url(../img/cart.png) no-repeat 55%; }
      .content .content--right .content--right__baby i {
        display: block;
        height: 55px;
        width: 84px;
        background: black;
        color: white;
        text-align: center;
        line-height: 55px; }
    .content .content--right .content--right__jewelry {
      margin-top: 15px;
      background: url(../img/jewelery.png) no-repeat;
      height: 510px; }

.NewProducts {
  height: 332px;
  display: flex;
  flex-direction: column; }
  .NewProducts .NewProducts--title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid grey;
    height: 105px; }
    .NewProducts .NewProducts--title .arrows {
      display: flex; }
      .NewProducts .NewProducts--title .arrows div {
        margin-left: 2px;
        width: 71px;
        height: 80px;
        background: #333333 url(../img/left.png) no-repeat 55%;
        cursor: pointer; }
      .NewProducts .NewProducts--title .arrows div:nth-child(2) {
        background: #333333 url(../img/right.png) no-repeat 55%; }
      .NewProducts .NewProducts--title .arrows div:hover {
        background: #0099cc url(../img/left.png) no-repeat 55%; }
      .NewProducts .NewProducts--title .arrows div:nth-child(2):hover {
        background: #0099cc url(../img/right.png) no-repeat 55%; }
  .NewProducts a:hover {
    box-shadow: inset 0 0 5px 5px snow; }
  .NewProducts .NewProducts--hrefs {
    margin-top: 27px;
    display: flex;
    justify-content: space-between; }
    .NewProducts .NewProducts--hrefs a:first-child {
      display: block;
      height: 200px;
      width: 31%;
      background: url(../img/newbag.png) no-repeat; }
    .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop {
      height: 200px;
      width: 31%;
      background: url(../img/newbabyshop.png) no-repeat;
      display: flex;
      justify-content: center;
      align-items: center; }
      .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop p {
        display: block;
        height: 55px;
        width: 294px;
        display: flex; }
      .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop b {
        display: block;
        color: white;
        text-align: center;
        line-height: 50px;
        width: 103px;
        height: 55px;
        background: #0099cc; }
      .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop a {
        display: block;
        height: 55px;
        width: 55px;
        background: #0099cc url(../img/special.png) no-repeat 55%; }
      .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop a:nth-child(3) {
        background: #ff6666 url(../img/cart.png) no-repeat 55%; }
      .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop i {
        display: block;
        height: 55px;
        width: 84px;
        background: black;
        color: white;
        text-align: center;
        line-height: 55px; }
    .NewProducts .NewProducts--hrefs .NewProducts--hrefs__babyshop:hover {
      box-shadow: inset 0 0 5px 5px snow; }
  .NewProducts a:last-child {
    display: block;
    height: 200px;
    width: 31%;
    background: url(../img/newwatches.png) no-repeat; }

.Featured {
  height: 536px;
  display: flex;
  flex-direction: column; }
  .Featured .Featured--title {
    height: 107px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .Featured .Featured--title .arrows {
      display: flex; }
      .Featured .Featured--title .arrows div {
        margin-left: 2px;
        width: 71px;
        height: 80px;
        background: #333333 url(../img/left.png) no-repeat 55%;
        cursor: pointer; }
      .Featured .Featured--title .arrows div:nth-child(2) {
        background: #333333 url(../img/right.png) no-repeat 55%; }
      .Featured .Featured--title .arrows div:hover {
        background: #ff6666 url(../img/left.png) no-repeat 55%; }
      .Featured .Featured--title .arrows div:nth-child(2):hover {
        background: #ff6666 url(../img/right.png) no-repeat 55%; }
  .Featured .Featured--content {
    margin-top: 29px;
    display: flex;
    justify-content: space-between; }
    .Featured .Featured--content figure {
      margin: 0;
      width: 270px;
      display: flex;
      flex-direction: column; }
    .Featured .Featured--content figcaption {
      height: 107px;
      border: 1px solid grey;
      border-top: transparent; }
      .Featured .Featured--content figcaption span {
        color: red;
        font-size: 13px;
        line-height: 5px; }
      .Featured .Featured--content figcaption h2 {
        font-size: 18px;
        line-height: 2px; }
      .Featured .Featured--content figcaption nav {
        border-top: 1px solid grey;
        display: flex; }
        .Featured .Featured--content figcaption nav .next, .Featured .Featured--content figcaption nav .gift, .Featured .Featured--content figcaption nav .cart {
          display: block;
          width: 57px;
          height: 53px;
          border: 1px solid grey; }
        .Featured .Featured--content figcaption nav .next {
          background: url(../img/diffarrows.png) no-repeat 55%; }
        .Featured .Featured--content figcaption nav .gift {
          background: url(../img/greygift.png) no-repeat 55%; }
        .Featured .Featured--content figcaption nav .cart {
          background: url(../img/greycart.png) no-repeat 55%; }
        .Featured .Featured--content figcaption nav a:hover {
          box-shadow: inset 0 0 5px 5px grey; }
        .Featured .Featured--content figcaption nav b {
          width: 100px;
          display: block;
          color: white;
          background: #ff6666;
          text-align: center;
          line-height: 55px; }

.who .who--features {
  margin-top: 30px;
  display: flex;
  justify-content: space-between; }
.who a {
  display: block;
  width: 55%;
  height: 60px;
  background: #0099cc;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 27px;
  line-height: 55px;
  margin: 0 auto;
  margin-top: 30px; }
.who a:hover {
  box-shadow: inset 0 0 5px 5px snow; }

footer {
  height: 426px;
  display: flex;
  justify-content: space-between; }
  footer li {
    list-style-type: none; }
  footer a:hover {
    text-decoration: underline; }
  footer a {
    color: black;
    text-decoration: none;
    line-height: 30px; }
  footer h2 {
    text-transform: uppercase; }
  footer .footer--sign {
    display: flex;
    flex-direction: column; }
    footer .footer--sign input {
      width: 376px;
      height: 72px;
      text-align: center;
      outline: none;
      border-bottom: none; }
    footer .footer--sign button {
      height: 51px;
      width: 376px;
      background: #0099cc;
      color: white;
      border: none; }
    footer .footer--sign button:hover {
      box-shadow: inset 0 0 5px 5px snow; }
  footer .footer--sign__socials a {
    padding-left: 11px; }
  footer .footer--sign__socials a:hover {
    box-shadow: inset 0 0 5px 5px snow; }

.copyright {
  width: 1170px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; }
  .copyright b {
    color: red; }

.droplist--items {
  margin-left: 271px;
  width: 263px;
  background: rgba(255, 255, 255, 0.8);
  display: none; }
  .droplist--items img {
    float: left; }
  .droplist--items div {
    height: 115px;
    text-align: left;
    border-bottom: 1px solid grey; }
    .droplist--items div h2 {
      color: red;
      font-size: 16px;
      line-height: 15px; }
    .droplist--items div span {
      font-size: 14px;
      line-height: 14px; }
    .droplist--items div a {
      display: block;
      color: white;
      text-decoration: none;
      height: 23px;
      width: 117px;
      text-align: center;
      background: #0099cc;
      margin-left: 80px;
      font-size: 12px;
      line-height: 14px; }
    .droplist--items div a:hover {
      box-shadow: 0 0 2px 2px snow; }
  .droplist--items a {
    color: red;
    text-decoration: none; }

.show--droplist {
  display: block;
  z-index: 55; }

/*# sourceMappingURL=style.css.map */
